
        <h1>
            Codeial / <%= title %>
        </h1>


        <section id="feed-posts">
            <h4>Posts</h4>
            <form action="/posts/create" id="new-post-forms" method="POST">
                <textarea name="content"  cols="30" rows="3" placeholder="write what's on your mind"></textarea>
                <input type="submit" value="Post">
            </form>

            <div id="posts-list-container">
                <ul>
                    <% for(post of posts){%>
                        <li>
                            <p>
                                <%= post.content %>
                            <br>
                            <small>
                                <%= post.userr.name %>
                            </small>
                            </p>
                        </li>
                        <%} %>
                </ul>
            </div>
        </section>